.row img{max-width:100%;}
.row h1,h2{
  font-size:60px;margin-left:100px;font-weight:700;line-height:50px;opacity:0;
  animation-name:fadeIn;
  animation-fill-mode:forwards
}
.row h2{margin-top:40px;text-shadow:1px 1px 1px #202020;color:#fff;
	animation-delay:0.1s;animation-duration:2s;
}
.row h1{width:80px;margin-bottom:50px;color:#202020;text-shadow:2px 2px 25px #fff;
	animation-delay:1s;animation-duration:6s;
}

.row #text{padding-left:80px}
.row #text p{font-size:18px;width:450px;}
#social{list-style-type:none;position:absolute;top:140px;left:555px}
#social li{border: 1px solid #fff;border-radius:50%;padding:0px 12px;text-align:center;margin-bottom:12px}
#social a{background:transparent;color:#fff;padding:15px 16px;border-radius:50%;border:2px solid #fff;line-height:80px;}
@keyframes fadeIn{
	0%{opacity: 0;}
	50%{opacity: 10;}
	100%{opacity:100;}
}
.fadein{opacity:0;animation-name:fadeIn;animation-delay:1.7s;animation-duration:5s;animation-fill-mode:forwards}
.hidden{display: none}
#social a:hover{background-color:#fff;color:#ff9933;text-decoration:none}
#social li:hover{animation:bounce 0.8s}
.row .mytext a{color:inherit;text-decoration:underline;}
.fa{display:inline;}
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -6px, 0);
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -4px, 0);
  }

  90% {
    transform: translate3d(0,-2px,0);
  }
}
.arrow{cursor:pointer;}
/*responsive*/
@media (min-width:768px) {
  .row{padding-top:90px}
}