.container{width:500px;margin: auto}
.container .panel{box-shadow:2px 2px 25px #606060}
.container .panel-body a{color:black;font-size:22px}
.container .panel-body span{display:block;margin-bottom:10px}
.container h1{font-family:'Spirax'}