@media (min-width:768px) {
  .custom-header{padding:20px 0;transition: padding 0.3s;}
  .custom-header .navbar-brand{-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
  header{padding-top:200px}
  header .intro-text .welcome{
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;font-size: 40px;line-height: 40px;margin-bottom: 25px;}
  header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
@media (max-width:990px) {
  header .intro-text .intro-heading{font-size:60px}
  #frm-contact{left:300px}
}
@media(max-width:767px){
  #frm-contact{left:230px;width:360px}
  header{padding-top:150px}
}
@media (max-width:740px){
  header .intro-text .intro-heading{font-size:40px}
  header .intro-text .btn{padding:12px 20px;font-size:16px}
  #frm-contact{left:200px;width:330px}
}
@media(max-width:500px){
  header .intro-text .intro-heading{font-size:30px;}
  #frm-contact{top:0px;left:0px;width:100%;height: 100%;animation:none;z-index:500}
  .custom-header{z-index:0}
}
@media(max-width:994px){
  body{background-size:auto;}
}