@media (min-width: 768px) {
  .custom-header {padding:10px 0;-webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;transition: padding 0.3s;}
  .custom-header .navbar-brand {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  @media (min-width: 768px) {
  header .intro-text {
    padding-top:200px;
    padding-bottom: 200px;
  }
  header .intro-text .welcome {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
}
/* sm screen */
@media(max-width:767px){
	.custom-header{padding:5px 10px}
}
