.custom-header{background:#e6e6e6;border-radius:0;}
.custom-header .navbar-brand{color:#404040;font-family:cookie;font-size:32px}
.custom-header .nav li{border-radius:8px}
.custom-header .nav li a{letter-spacing: 2px;font-size:18px;color:#404040}
.custom-header .nav li a:hover{color:#fff;background-color:#404040}
.custom-header .navbar-toggle,.custom-header .navbar-toggle:focus{background-color:#404040;border-color:#fff;color:#fff}
.custom-header .navbar-toggle:hover{background-color:#d633ff;border-color: #d633ff}
.container h1{font-family:'Spirax';font-size:50px;color:#404040;margin-bottom:40px}
body{font-size:18px;overflow-x:hidden;}
.container #success li{list-style-type:none}
.container #success span{display:block;margin-bottom:30px;margin-top:6px}
@media (min-width:768px) {
	.container{padding-top:100px}
  .custom-header {padding:10px 0;-webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;transition: padding 0.3s;}
  .custom-header .navbar-brand{-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
}
@media (max-width:767px) {
	.container{padding-top:120px}
	.container h1{font-size:30px}
}