body{background-image:url("../img/background.jpg");background-repeat: no-repeat;background-size:cover;overflow:hidden;}
.custom-header{background:#e6e6e6;border-radius:0;}
.custom-header .navbar-brand{color:#404040;font-family:cookie;font-size:32px}
.custom-header .nav li{border-radius:8px}
.custom-header .nav li a{letter-spacing: 2px;font-size:18px;color:#404040}
.custom-header .nav li a:hover{color:#fff;background-color:#404040}
.custom-header .navbar-toggle,.custom-header .navbar-toggle:focus{background-color:#404040;border-color:#fff;color:#fff}
.custom-header .navbar-toggle:hover{background-color:#d633ff;border-color: #d633ff}
header #intro-text{padding-top:40px;color:#fff}
#intro-text h1{ font-family: 'Montserrat', sans-serif;text-transform: uppercase;font-weight:700;
  font-size:60px;
  line-height:50px;
  margin-bottom:25px;}
header .welcome{font-family:"Droid Serif",sans-serif;font-style:italic;font-size:30px;line-height:22px;margin-bottom:50px}
.btn-contact{
  color: white;
  background-color:#e066ff;
  border-color:#e066ff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius:4px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-contact:hover,
.btn-contact:focus,
.btn-contact:active,
.btn-contact.active{color:#404040;background-color:#ffff66;border-color:#ffff66;}
#frm-contact{display: none;left:420px;width:400px;height:400px;position:absolute;border:1px solid #fff;background-color:#fff;box-shadow:1px 1px 1px #ddd;animation-name:form;animation-duration:0.5s;animation-fill-mode: forwards;padding:50px 30px}
#frm-contact span{cursor:pointer;color:#505050;font-size:20px;position:absolute;top:3px;right:10px}
#frm-contact .col-md-6 #name,#frm-contact .col-md-6 #message,#frm-contact .col-lg-12 button{margin-top:20px}
@keyframes form{from{top:0}to{top:200px}}
#frm-contact .form-group .form-control:focus{border-color:#d633ff;box-shadow: none;}
div.container .alert-danger{width:200px}